
.generic_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1100px;
	margin: 0 auto;
}

.search_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	flex-direction: column;
	padding-top: 150px;		
	background-color: #f9fafc;
	background-image: url("../public/images/637645.jpg"); 
	background-size: cover;
	background-repeat: repeat;
	min-height: 330px;
}


/* MOBILE */
@media screen and (max-width: 500px){
  .search_container{
	background-position: center;
  }
}


/* DESKTOP */
@media screen and (min-width: 1200px){
  .search_container{
	min-height: 430px;
  }
  .search_container input, .search_container button{
	margin-top: 100px;
  }
}
